<div class="container">
  <div class="d-flex flex-column align-items-end my-3">
    <button
      type="button"
      class="btn btn-primary mb-2"
      (click)="openAddCusomerModal()"
    >
      Add Customer
    </button>
    <button type="button" class="btn btn-primary" (click)="openAddPinModal()">
      Add Pin
    </button>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Image</th>
        <th scope="col">Collaboratory</th>
        <th scope="col">Privacy</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pin of pins">
        <td>{{ pin?.title }}</td>
        <td>
          <img
            src="{{ pin.image }}"
            alt="image"
            style="width: 75px; height: 60px"
          />
        </td>
        <td>
          <span *ngFor="let collaborator of pin.collaborators; let last = last">
            {{ collaborator }}
            <ng-container *ngIf="!last"><br /></ng-container>
          </span>
        </td>
        <td>{{ pin.privacy }}</td>
      </tr>
    </tbody>
  </table>
</div>
