/* You can add global styles to this file, and also import other style files */
.modal-content {
    border: none;
}
.modal-content .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it's above other elements */
  }
  
  .form-control {
    margin-bottom: 15px; /* Optional spacing for form controls */
  }/* You can add global styles to this file, and also import other style files */
