/* You can add global styles to this file, and also import other style files */
.modal-content {
    border: none;
}
.modal-content .overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* Optional for a semi-transparent background */
}
  
.form-control {
  margin-bottom: 15px; /* Optional spacing for form controls */
}
